  <div class="container">
    <div id="content">
      <section class="main">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-link">
                <a href="http://spacefit.net" class="list-group-link">
                  Web
                  <span class="list-group-text pull-right">http://spacefit.net</span>
                </a>
              </li>
              <li class="list-group-item list-group-item-link">
                <a href="https://twitter.com/spacefitguru" class="list-group-link">
                  Twitter
                  <span class="list-group-text pull-right">@spacefitguru</span>
                </a>
              </li>
              <li class="list-group-item list-group-item-link">
                <a href="https://www.facebook.com/SPACEFiT-334343220097624" class="list-group-link">
                  Facebook
                  <span class="list-group-text pull-right">https://www.facebook.com/SPACEFiT-334343220097624</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>