<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a class="panel" href="video.html">
          <div class="panel-body">
            <h2 class="action-text">RLX</h2>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a class="panel" href="video.html">
          <div class="panel-body">
            <h2 class="action-text">F!T</h2>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a class="panel" href="video.html">
          <div class="panel-body">
            <h2 class="action-text">STRETCH</h2>
          </div>
        </a>
      </div>
    </div>
  </section>
</section>