  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <p>Oui, encore!</p>
        </div>
        <%= render 'shared/buttons' %>
    </section>
  </div>

