  <div class="container">
    <div id="content">
      <section class="main">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-heading">
                <span>Congratulation!</span>
                <a href="<%= workout_show_path(id: params[:id]) %>" class="pull-right"><i class="fa fa-repeat"></i></a>
              </div>
              <div class="panel-body">
                <blockquote>
                  <p>Above all, try something</p>
                  <footer>Franklin D. Roosevelt</footer>
                </blockquote>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                Rate the app
                <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal"></i>
                <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal"></i>
                <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal"></i>
                <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal"></i>
                <i class="rating-star fa fa-star-o pull-right" data-toggle="modal" data-target="#myModal"></i>
              </li>
            </ul>
            <p>One more?</p>
          </div>
          <% [["RL",  :workout_location_path,"relax"   ],
              ["F!T", :workout_position_path, "fit"    ],
              ["ST",  :workout_position_path, "stretch"] ].each do |text_, option_, type_|%>
            <div class="col-xs-12 col-md-4">
              <%= link_to  self.send( option_, {type: type_} ) do %>
                <div class="col-xs-4">
                  <i class="btn btn-primary full-width"><%= text_ %></i>
                </div>
              <% end %> 
            </div>
          <% end %>

        </div>
      </section>
    </div>
  </div>
