<div class="container">
  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center"><strong>I'm</strong></p>
        </div>
        <% [["at Home",    "home"   , "color-icons:home"],
            ["at Work",    "office", "color-icons:factory"],
            ["Travelling", "travel", "color-icons:globe"]].each do |text_, location_, icon_|%>
          <div class="col-xs-12">
            <a class="panel" href="<%= workout_show_path(type: params[:type], location: location_) %>">
              <div class="panel-body">
                <h2 class="action-text">
                  <webicon icon="<%= icon_ %>" >
                  </webicon>
                  <small><%= text_ %></small>
                </h2>
              </div>
            </a>
          </div>
        <% end %>

      </div>
    </section>
  </div>
</div>
