  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center"><strong>Je suis...</strong></p>
        </div>

        <% [["Assis(e)",     "sit", "sit-icon.png"   ],
            ["Debout", "up",  "up-icon.png"]].each do |text_, position_, image_|%>
          <div class="col-xs-12">
            <a class="panel" href="<%= workout_show_path(type: params[:type], position: position_) %>">
              <div class="panel-body">
                <h2 class="action-text">
                  <%= image_tag(image_, size: "40x40", alt: position_) %>
                  <small><%= text_ %></small>
                </h2>
              </div>
            </a>
          </div>
        <% end %>

      </div>
    </section>
  </div>
