<div class="container">
  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel">
            <div class="panel-heading">
              <span>Video Title </span>
              <span class="pull-right">1/5</span>
            </div>
            <div class="video-wrapper">
              <iframe width="100%" src="<%= @media.link %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="panel-footer text-center">

            </div>
          </div>
          <% _workout_ids= (params[:id]||"").split(",").push((@media.id).to_s).join(",") %>
           <%=link_to workout_show_path(type:       params[:type],
                                        position:   params[:position],
                                      location:   params[:location],
                                        id: _workout_ids
                                        ) do%>
                                        Skip
          <% end %>
          |
           <%=link_to workout_reload_path(type:       params[:type],
                                        position:   params[:position],
                                        location:   params[:location],
                                        id:         (params[:id]||""),
                                        reload_id:    @media.id
                                        ) do%>
                                        Reload
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
