<section id="content">
  <section class="main padder">
    <div class="row">

      <% [["RLX",     :workout_location_path,"relax"   ],
          ["F!T",     :workout_position_path, "fit"    ],
          ["STRETCH", :workout_position_path, "stretch"] ].each do |text_, option_, type_|%>
        <div class="col-xs-12 col-md-4">
          <%= link_to  self.send( option_, {type: type_} ) do %>
            <div class="panel-body">
              <h2 class="action-text"><%= text_ %></h2>
            </div>
          <% end %> 
        </div>
      <% end %>

  </section>
</section>