<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      // submit reminder
      $("[id^=reminder]").on('click', function() {
        _obj=$(this)
        if(!_obj.hasClass("active")){
         _obj.children('input').prop("checked", true)
         _obj.closest("form").submit()
          if ($(this).hasClass('btn-on')) { //slide up and down selection
            $(this).closest('.list-group-item').next('.sublist-group-item').slideDown();
          } else if ($(this).hasClass('btn-off')) {
            $(this).closest('.list-group-item').next('.sublist-group-item').slideUp();
          }
        }
      })
    })

    $(document).ready(function() {
      // submit reminder
      $("select").on('change', function() {
        $(this).closest("form").submit()
      })
    })

  })(jQuery)
</script>


<% _rc=["active",""]  %>



  <div id="content">
    <section class="main">
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-link">
              <a href="/about.html" class="list-group-link">
                Info
                <i class="fa fa-caret-right pull-right"></i>
              </a>
            </li>
            <li class="list-group-item">
              Rappel
              <%= form_for User.new, url: update_user_path(), remote: true,
              html: { class: "btn-group pull-right m-t-n-mini m-r-n-mini",
                      style: "margin-bottom: 0"},
               data: { toggle: "buttons"} do |f_| %>
                <label id="reminder_on" class="btn btn-sm btn-white btn-on <%= current_user.reminder ? "active" : "" %>" >
                  <%= f_.radio_button :reminder, true, checked: current_user.reminder %>
                  ON
                </label>
                <label id="reminder_off" class="btn btn-sm btn-white btn-off <%= !current_user.reminder ? "active" : "" %>" >
                  <%= f_.radio_button :reminder, false, checked: !current_user.reminder %>
                  OFF
                </label>
              <% end %>
            </li>
            <li class="sublist-group-item" style="display: <%= current_user.reminder ? 'list-item' : 'none'%>">
              <ul class="list-unstyled">
                  <%= form_for User.new, url: update_user_path(), remote: true,
                  html: {class: "list-group-item list-group-subitem"} do |f_| %>
                    Petit rappel toutes les
                    <%= f_.select :every, [["heure", 1], ["2 heures", 2], ["3 heures", 3]], ["4 heures", 4]], {selected: current_user.every},
                                                                            class: "form-control list-group-select" %>
                  <% end %>
                  <%= form_for User.new, url: update_user_path(), remote: true,
                  html: {class: "list-group-item list-group-subitem"} do |f_| %>
                  From
                    <%= f_.select :from, Array(1..24), {selected: current_user.from}, class: "form-control list-group-select" %>
                  <% end %>

                  <%= form_for User.new, url: update_user_path(), remote: true,
                  html: {class: "list-group-item list-group-subitem"} do |f_| %>
                  To
                    <%= f_.select :to, Array(1..24), {selected: current_user.to}, class: "form-control list-group-select" %>
                  <% end %>
              </ul>
            </li>
              <%= form_for User.new, url: update_user_path(), remote: true,
                html: {class: "list-group-item" } do |f_| %>
                Languages

                <%= f_.select :language,  User::LANGUAGES , {selected: current_user.language}, class: "form-control list-group-select" %>
              <% end %>
            <li class="list-group-item list-group-item-link">
              <a href="<%= new_feedback_path() %>" class="list-group-link">
                Give Feedback
                <i class="fa fa-caret-right pull-right"></i>
              </a>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-link">
              <a class="list-group-link"  href="/signout" data-method="delete">
                Log out
                <i class="fa fa-sign-out pull-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

