<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-link">
            <a href="#" class="list-group-link">
              About
              <i class="fa fa-caret-right pull-right"></i>
            </a>
          </li>
          <li class="list-group-item">
            Reminder
            <div class="btn-group pull-right m-t-n-mini m-r-n-mini" data-toggle="buttons">
              <label class="btn btn-sm btn-white btn-on active">
                <input type="radio" name="options" id="option1">
                ON
              </label>
              <label class="btn btn-sm btn-white">
                <input type="radio" name="options" id="option2">
                OFF
              </label>
            </div>
          </li>
          <li class="list-group-item list-group-subitem">
            Remind me every
            <select class="form-control list-group-select">
              <option>hour</option>
              <option>2 hours</option>
              <option>3 hours</option>
            </select>
          </li>
          <li class="list-group-item list-group-subitem">
            From
            <select class="form-control list-group-select">
              <option selected>AM</option>
              <option>PM</option>
            </select>
            <select class="form-control list-group-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option selected>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </li>
          <li class="list-group-item list-group-subitem">
            To
            <select class="form-control list-group-select">
              <option>AM</option>
              <option selected>PM</option>
            </select>
            <select class="form-control list-group-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option selected>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </li>
          <li class="list-group-item">
            Languages
            <select class="form-control list-group-select">
              <option>English</option>
              <option>Français</option>
            </select>
          </li>
          <li class="list-group-item list-group-item-link">
            <a href="<%= new_feedback_path() %>" class="list-group-link">
              Give Feedback

              <i class="fa fa-caret-right pull-right"></i>
            </a>
          </li>
          <li class="list-group-item list-group-item-link">
            <a class="list-group-link"  href="/signout" data-method="delete">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>