// Your footer style - button

.btn-svg {
  font-size: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.23);

  .webicon {
    display: flex;
    align-items: center;
    width: 70px;
    top: -5px;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
  }
}

.inner-text {
  position: relative;
  z-index: 1;
}
