<%= form_for Feedback.new, class: "form-group"  do |f| %>
	<label class="control-label">Give us your feedback</label>
	<%= f.text_area :text, class: "form-control", rows: 8 %>
	<button type="submit" class="btn btn-primary full-width m-t">Send</button>
<% end %>