<div class="modal fade" id="myModalFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalFeedbackLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">


        <%= render partial: "feedbacks/new/inner" %>
      </div>
    </div>
  </div>
</div>