
<div id="home_carousel" class="carousel slide" data-ride="carousel" data-interval="3000" style="position: absolute; width: inherit; height: 100%; left: 0">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div id="image1" ></div>
      <div class="carousel-caption">
        FIT
      </div>
    </div>
    <div class="item">
      <div id="image2" ></div>
      <div class="carousel-caption">
        RELAX
      </div>
    </div>
    <div class="item">
      <div id="image3" ></div>
      <div class="carousel-caption">
        STRETCH
      </div>
    </div>
    
  </div>


</div>