<footer id="footer" class="m-t m-b-small">
  <div class="padder clearfix">
    <div class="pull-left">
      <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
    </div>
    <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-xs btn-circle btn-feedback pull-right"><i class="fa fa-comment"></i></a>
  </div>
  <%= render partial: "feedbacks/new" %>
</footer>