<header id="header" class="navbar">
  <a class="navbar-brand pull-left" href="/workout">SPACEF!T</a>
  <ul class="nav navbar-nav pull-right">
    <li>
      <div class="m-t m-b-small">
        <a href="/users/1/edit"><i class="fa fa-cog fa-fw fa-lg text-default"></i></a>
      </section>
      </div>
    </li>
  </ul>
</header>