<header id="header" class="navbar">
  <a class="navbar-brand pull-left" href="/">SPACEF!T</a>
  <ul class="nav navbar-nav pull-right">
    <li>
    <% if current_user.signed_in? %>
      <div class="m-t m-b-small">
        <a href="/users/<%= current_user.id %>/edit"><i class="fa fa-cog fa-fw fa-lg text-default"></i></a>
      </div>
    <% else %>
      <a class="btn pull-right" href="/signup">Sign Up</a>
      <a class="btn pull-right" href="/signin">Sign In</a>
    <% end %>
    </li>
  </ul>
</header>