<header id="header" class="navbar">
  <a class="navbar-brand pull-left" href="<%= progress_user_path() %>" style="color: red">SPACEF!T</a>

  <ul class="nav navbar-nav pull-right">
    <% if current_user.signed_in? %>
      <li class="pull-left">
        <div class="m-t m-b">
          <a href="<%= progress_user_path %>"><i class="fa fa-line-chart fa-fw fa-lg text-default"></i></a>
        </div>
      </li>
      <li class="pull-left">
        <div class="m-t m-b">
          <a href="<%= edit_user_path %>"><i class="fa fa-cog fa-fw fa-lg text-default"></i></a>
        </div>
      </li>
    <% else %>
      <li class="pull-left">
        <div class="m-t m-b">
          <a class="pull-right text-default" href="/signup">Sign Up</a>
        </div>
      </li>
      <li class="pull-left">
        <div class="m-t m-b">
        |
        </div>
      </li>
      <li>
        <div class="m-t m-b">
          <a class="pull-right text-default" href="/signin">Sign In</a>
        </div>
      </li>
    <% end %>
  </ul>
</header>


